html, body {
  margin:0;
  padding:0;
  background-color: #e9e9e9;
}

a {
  color:blue;
}

a: visited {
  color:blue;
}

#header {
  width:100vw;
  position:fixed;
  height: 40px;
  top:0;
  z-index: 100;

  background-color: #e9e9e9;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-width: 2px;
}

#header h2, #about h2, #mobile_zine_button{
  font-family: gopher, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  display: inline-block;
}

#header a {
  text-decoration: none;
  color: black;
}

#mobile_zine_button, #mobile_dash {
  display: none !important;
}

#about_button:hover, #index_button:hover, #zine_button:hover, #header a:hover {
  color: blue;
  cursor: pointer;
}

.left {
  float: left;
}

.right {
  float: right;
}

.wrapper {
  width: 700px;
  position: absolute;
  left:50%;
  width: 700px;
  margin-left:-350px;
}

#title {
  width: 1300px;
  margin-left: -300px;
  text-align: center;
}

#title h1 {
  font-family: gopher, serif;
  font-size: 5.5em;
  font-weight: 400;
  width: 100%;
  padding: 0;
  margin-top: 100px;
  margin-bottom:0;
}

#title p {
  font-family: gopher, serif;
  font-size: 2em;
  font-weight: 400;
  width: 100%;
  margin-top: 0;
}

.close_button {
  width:35px;
  height:35px;
  position:absolute;
  top:-2px;
  right:-2px;
  z-index:300;

  font-family: gopher, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7em;

  border-style: solid;
  border-width: 2px;
  border-color: black;

  text-align: center;
}

.close_button:hover {
  cursor: pointer;
  color: blue !important;
  border-color: blue;
}

#about, #index {
  position: fixed;
  width: 750px;
  top: 100px;
  left:50%;
  width: 700px;
  margin-left:-375px;

  border-style: solid;
  border-width: 2px;
  border-color: black;
  z-index: 100;
  background-color: #e9e9e9;
}

#introp {
  font-family: gopher, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.1em;

  color: black;
  margin: 25px;
}

#index p {
  color: black;
  margin: 25px;

}

.indexp {
  font-family: gopher, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
}

.indexp:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pic {
  width:100%;
  height:auto;
}

.comic_title{
  font-family: gopher, serif;
  font-size: 2em;
  font-weight: 400;
  width: 1300px;
  margin-left: -300px;
  margin-top: 80px;
}

.comic-wrapper {
  width: 1300px;
  margin-left: -300px;
  height:auto;
  position: relative;
  display: block;

  margin-top:10px;
  margin-bottom:20px;
}

.slides1, .slides2, .slides3, .slides4, .slides5, .slides6 {
  display: none;
}

.prev, .next {
  cursor: pointer;
  width: auto;
  position: absolute;
  top:43%;
  padding: 15px;
  color: rgba(255,255,255,1);
  font-size: 28px;
  user-select: none;
  background-color: rgba(0,0,0,0.5)
}

.next {
  right: 2px;
}

.prev {
  left: 10px;
}

.numbertext {
  color: black;
  font-family: gopher, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.1em;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.textwrapper {
  position: relative;
  width: 100%;
}

.leftp {
  width: 600px;
  margin-left: -300px;
  margin-top: 20px;
  position: absolute;
  display: inline-block;
}

#rpi {
  width:1000px;
}

#text1 {
  height: 460px;
}

#text2 {
  height: 955px;
}

#text3, #text4, #text5 {
  height: 515px;
}

#text6, #text7 {
  height: 365px;
}

.rightpic {
  width: 650px;
  margin-top: 40px;
  right: -300px;
  height: auto;
  position: absolute;
  display: inline-block;
}

.legenda {
  color: black;
  font-family: gopher, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.9em;
  float: right;
  margin-top: 0px;
}

.researchp {
  font-family: gopher, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.1em;

  color: black;
  width: 100%;
}

.awtitle {
  font-family: gopher, serif;
  font-size: 4.5em;
  font-weight: 400;
  width: 100%;
}

#anonymous_title {
  margin-top: 210px;
  color: blue;
}

#embodied_title {
  color: #e30099;
  width: 1300px !important;
  margin-left: -300px;
  margin-bottom: 30px;
}

#bidirectionals_title {
  color: #d93434;
  width: 1300px !important;
  margin-left: -300px;
  margin-bottom: 30px;
}

#decentralised_title {
  color: #588810;
  width: 1300px !important;
  margin-left: -300px;
  margin-bottom: 30px;
}

#conclusion, #references, #readfurther {
  width: 49%;
  margin-left: -300px;
}

.awpicture {
  width: 1300px;
  margin-left: -300px;
  height:auto;
  position: relative;
  display: block;
}

.awparagraph {
  width: 1300px !important;
  margin-left: -300px;
  height:auto;
  position: relative;
  display: block;

  font-family: gopher, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  width: 100%;
}

#anonparagraph {
  color: blue;
}

#embodiedparagraph {
  color: #e30099;
}

.wide {
  width: 100%;
}

.footnote {
  margin-top:0;
  font-size: 0.9em;
  color: gray;

}

.blue {
  border-style: solid;
  border-color: blue;
  border-width: 4px;
}

.black {
  border-style: solid;
  border-color: black;
  border-width: 4px;
}

.magenta {
  border-style: solid;
  border-color: #e30099;
  border-width: 4px;
}

.red {
  border-style: solid;
  border-color: #d93434;
  border-width: 4px;
}

.green {
  border-style: solid;
  border-color: #588810;
  border-width: 4px;
}

#readfurther, #references {
  font-size: 2.5em;
  margin-top:80px;
  width: 600px;
}

@media screen and (max-width: 1500px){

  #title {
    width: 1000px;
    margin-left: -150px;
  }

  .comic_title{
    width: 1000px;
    margin-left: -150px;
  }

  .comic-wrapper {
    width: 1000px;
    margin-left: -150px;
  }

  #embodied_title, #bidirectionals_title, #decentralised_title, #conclusion, #references, #readfurther {
    width: 1000px !important;
    margin-left: -150px;
  }

  #anonymous_title {
    margin-top: 20px;
    color: blue;
  }

  .awtitle {
    font-size: 3.5em;
  }

  .awpicture {
    width: 1000px;
    margin-left: -150px;
  }

  .awparagraph {
    width: 1000px !important;
    margin-left: -150px;
  }

  .leftp {
    width: 450px;
    margin-left: -150px;
  }

  .rightpic {
    width: 500px;
    right: -150px;
  }

  #text1 {
    height: 400px;
  }

  #text2 {
    height: 755px;
  }

  #text3, #text4, #text5 {
    height: 585px;
  }

  #text6, #text7 {
    height: 365px;
  }

  #rpi {
    width:700px;
  }

  #readfurther, #references {
    font-size: 2em;
    margin-top:180px;
    width: 600px;
  }

  #references {
    margin-top: 210px;
  }

  #about {
    top: 55px;
    height:90%;
    overflow-y: scroll;
    overflow-x: hidden;
  }


}

@media screen and (max-width: 500px){

  .wrapper {
    width:95%;
    margin-left: 2.5%;
    left:0;
  }

  #title {
    width: 100%;
    margin-left:0;
  }

  #title h1 {
    font-size: 8vw;
    margin-top: 80px;
  }

  #title p {
    font-size: 6vw;
  }

  .comic_title{
    width: 100%;
    font-size: 6vw;
    margin-left: 0;
    margin-top: 60px;
  }

  .comic-wrapper {
    width: 98%;
    margin-left: 0;
    left: 0;
    margin-bottom: 0;
  }

  #embodied_title, #bidirectionals_title, #anonymous_title, #decentralised_title, #conclusion, #references, #readfurther {
    width: 100% !important;
    margin-left: 0;
    font-size: 6vw;
  }

  .awtitle {
    font-size: 6vw;
  }

  .awpicture {
    width: 98%;
    margin-left: 0;
  }

  .awparagraph {
    width: 100% !important;
    margin-left: 0;
    font-size: 5vw;
  }

  .leftp {
    width: 100%;
    margin-left: 0;
    font-size: 4vw;
  }

  .rightpic {
    display: none;
  }

  #text1 {
    margin-top: 0;
    height: 115vw;
  }

  #text2 {
    height: 150vw;
  }

  #text3 {
    height: 185vw;
  }

  #text4, #text5{
    height: 170vw;
  }

  #text6, #text7 {
    height: 365px;
  }

  #rpi {
    width:98%;
  }

  #readfurther, #references {
    font-size: 6vw;
    width: 100%;
  }

  #references {
    margin-top: 180px;
  }

  #readfurther {
    margin-top: 200px;
    margin-bottom: 40px;
  }

  #about, #index {
    top: 5%;
    height:90%;
    width: 95%;
    margin-left: 2%;
    left:0;
    overflow-y: scroll;
    overflow-x: hidden;
    border-color: blue;
  }

  .close_button {
    border-color: blue;
    color: blue !important;
  }

  #header h2, #about h2 {
    font-family: gopher, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    color: black;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    display: inline-block;
  }

  #zine_button {
    display: none !important;
  }

  #mobile_zine_button, #mobile_dash {
    display: inline-block !important;
  }

  #header {
    height: 10vw;

  }


}
