@import "components/navbar.css";
@import "components/about.css";
@import "components/projects.css";

html, body {
  padding: 0;
  margin: 0;

  font-family: "aktiv-grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #252525;
}

.container {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  max-height: 100vh;
}

/* .element {
  scroll-snap-align: start;
  margin-top: 20px;
  background-color: darkorange;
  width: 100vw;
  height: 250px;
  z-index: 8;
} */

.main-section {
  width: 100vw;
  scroll-snap-align: start;
}

.full-width {
  width: 1060px;
}
